/* Body */
body
{
    margin: 0%;

    background-color: lightgray;
}
/* NAV: */
nav
{
    width: 100%;
    height: 40px;
    background-color: black;
    text-align: center;
}
.middle
{
    width: 500px;
    height: 50px;
    margin-left: 33%;
}
nav div
{
    height: 100%;
    width:fit-content;

    margin-left: 10%;

    float: left;
}

nav a
{
    text-decoration: none;
    color: white;
    font-size: large;

}
nav a:hover
{
    background-color: orange;
}
/* Embedded Assignment */
.embed
{
    border: 1px solid hotpink;

    width: fit-content;

    margin-top: 20px;
    margin-left: 25%;
    
}
.embed embed
{
    width: 600px;
    height: 300px;
}

/* Image */
.image
{
    width: fit-content;
    height: fit-content;

    margin-left: 10%;
    margin-top: 50px;

}
.image img
{
    width: 200px;
    height: 200px;

    border: 1px solid black;
    border-radius: 8px;
}

/* Paragraph with a button */
.pButton
{
    width: 25%;
    height: fit-content;

    margin-top: 50px;
    margin-left: 35%;
}
.p1
{
    background-color: hotpink;
}
.p2
{
    background-color: pink;
}
.p3
{
    background-color: lightpink;
}
.p1,.p2,.p3
{
     margin: 0;
     padding-top: 20px;
}

.pButton button
{
    width: 75%;
    height: 25px;

    margin-top: 60px;
    margin-left: 15%;

    background-color: orange;
    border: 0 solid ;
    border-radius: 5px;
}
.pButton button
{
    color: white;
}
.combo
{
    height: fit-content;
    width: 100%;
}
.combo > .image,.pButton
{
    float: left;
}

/* Footer */
.foot
{
    background-color: black;

    width: 100%;
    height: 100px;

    margin-top: 400px;
}
.foot p
{
    color: white;
    text-align: center;
    padding-top: 2%;
}
