body {
  margin: 0;
}
/* ************* */
/* FIRST SECTION */
/* ************* */
.FIRST-SECTION {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/BACKGROUND-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px -85px 167px #080808;
}

.NAVBAR {
  width: 100vw;
  height: 8vh;
  padding-top: 5vh;
  display: flex;
}

.NAV-LOGO-PANEL {
  display: flex;
  width: 45vw;
  height: 100%;
  align-items: center;
}

.LOGO-WRAPPER {
  display: flex;
  flex-direction: column;
  margin-left: 7vw;
  width: fit-content;
  align-items: center;
}

.LOGO {
  height: 4vh;
  width: 6vh;
  margin-left: 0.25vw;
}

.LOGO-NAME {
  color: #f7dc5f;
  font-size: x-large;
}

.NAV-OPTIONS-PANEL {
  width: 55vw;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.OPTION {
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
}

.NAV-BUTTON {
  background-color: #f7dc5f;
  border: none;
  width: 8vw;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-weight: 100;
}

.CALL-TO-ACTION-WRAPPER {
  margin-top: 10vh;
  height: 20vh;
  width: 100vw;
}

.CALL-TO-ACTION {
  color: #ffffff;
  display: block;
  height: 100%;
  margin: 0;
  margin-left: 15.5vw;
  width: 55vw;
  font-size: 65px;
  font-weight: 800;
}

.MESSAGE-WRAPPER {
  width: 100vw;
  height: 30vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MESSAGE {
  display: block;
  width: 38vw;
  height: 15vh;
  font-size: 24px;
  line-height: 2.5rem;
  text-align: center;
  color: #ffffff;
}

.MESSAGE-BUTTON {
  display: block;
  border: none;
  background-color: #f7dc5f;
  height: 6vh;
  width: 12vw;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 0.15rem;
}
/* FIRST SECTION - RESPONSIVE */
@media (max-width: 1180px) {
  .NAV-OPTIONS-PANEL {
    width: 150vw;
  }
  .OPTION {
    font-size: 20px;
  }
  .NAV-BUTTON {
    width: 10vw;
    height: 4vh;
    font-size: small;
  }
  .CALL-TO-ACTION {
    font-size: 45px;
  }
  .MESSAGE {
    width: 70vw;
    height: 15vh;
    font-size: 18px;
    line-height: 1.5rem;
  }
  .MESSAGE-BUTTON {
    height: 5vh;
    width: 32vw;
    font-size: 18px;
    letter-spacing: 0.15rem;
  }
}
@media (max-width: 815px) {
  .CALL-TO-ACTION {
    font-size: 33px;
  }
}

@media (max-width: 600px) {
  .LOGO-WRAPPER {
    margin-left: 4vw;
  }

  .LOGO {
    height: 3vh;
    width: 4vh;
  }
  .LOGO-NAME {
    font-size: small;
  }
  .NAV-OPTIONS-PANEL {
    width: 150vw;
  }
  .OPTION {
    font-size: 11px;
  }
  .NAV-BUTTON {
    width: 20vw;
    height: 3vh;
    font-size: x-small;
  }
  .CALL-TO-ACTION {
    font-size: 20px;
  }
  .MESSAGE-WRAPPER {
    height: 40vh;
    margin-top: 0vh;
  }

  .MESSAGE {
    width: 70vw;
    height: 15vh;
    font-size: 18px;
    line-height: 1.5rem;
  }

  .MESSAGE-BUTTON {
    height: 8vh;
    width: 48vw;
    font-size: 18px;
    letter-spacing: 0.15rem;
  }
}

/* ************** */
/* SECOND SECTION */
/* ************** */
.SECOND-SECTION {
  width: 100vw;
  height: 110vh;
  background-color: black;
}

.SECOND-SECTION-PANEL {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/BACKGROUND-02.png");
  background-size: 100vw 130vh;
  display: flex;
  justify-content: center;
}
.SECOND-SECTION-PANEL-WRAPPER {
  padding-left: 2.5vw;
  width: 70vw;
  height: 60vh;
  display: flex;
  position: relative;
}
.SECOND-SECTION-PANEL-IMAGE {
  width: 35%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.SECOND-SECTION-PANEL-TITLE {
  color: #ffffff;
  font-size: 55px;
  display: block;
  width: 50vw;

  position: absolute;
  top: 2vh;
  left: 16vw;

  font-weight: 800;
  letter-spacing: 0.08em;
  text-shadow: 7px 4px 5px rgba(0, 0, 0, 0.65);
  text-align: center;
}

.SECOND-SECTION-PANEL-MESSAGE {
  display: block;
  width: 55%;
  height: fit-content;
  font-weight: 700;
  font-size: 20px;
  line-height: 37px;
  letter-spacing: 0.08em;
  margin-top: 35vh;
  margin-left: 5.5vw;

  color: #ffffff;
}
/* SECOND SECTION - RESPONSIVE */
@media (max-width: 1180px) {
  .SECOND-SECTION-PANEL {
    justify-content: start;
    margin-left: 0vw;
  }
  .SECOND-SECTION-PANEL-WRAPPER {
    width: 90vw;
    margin-left: 5vw;
    padding-left: 0%;
  }
  .SECOND-SECTION-PANEL-IMAGE {
    width: 50%;
  }
  .SECOND-SECTION-PANEL-TITLE {
    font-size: 45px;
    width: 60vw;

    position: absolute;
    left: 31.5vw;
  }

  .SECOND-SECTION-PANEL-MESSAGE {
    width: 75%;
    font-size: 12px;
    line-height: 34px;
    margin-top: 25vh;
    margin-left: 5.5vw;

    color: #ffffff;
  }
}
@media (max-width: 830px) {
  .SECOND-SECTION-PANEL-TITLE {
    font-size: 35px;
    width: 60vw;

    position: absolute;
    left: 31vw;
  }

  .SECOND-SECTION-PANEL-MESSAGE {
    width: 75%;
    font-size: 12px;
    line-height: 24px;
    margin-top: 25vh;
    margin-left: 5vw;

    color: #ffffff;
  }
}
@media (max-width: 600px) {
  .SECOND-SECTION-PANEL-TITLE {
    font-size: 24px;
    width: 60vw;
    position: absolute;
    left: 33vw;
    top: 5vh;
  }

  .SECOND-SECTION-PANEL-MESSAGE {
    font-size: 10px;
    line-height: 24px;
    margin-top: 22vh;
    margin-left: 3vw;
  }
}
/* ************* */
/* THIRD SECTION */
/* ************* */
.THIRD-SECTION {
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  position: relative;
}

.THIRD-SECTION-ABSOLUTE-TITLE {
  display: block;
  width: 38vw;
  color: #ffffff;
  font-weight: 800;
  font-size: 55px;
  line-height: 66px;
  text-align: center;
  text-shadow: 7px 4px 5px rgba(0, 0, 0, 0.65);
  text-transform: uppercase;
  position: absolute;

  top: -22vh;
  left: 15vw;
}
/* THIRD SECTION PANEL 01 */
.THIRD-SECTION-FIRST-PANEL {
  margin-top: 15vh;
  height: 70vh;
  width: 100vw;
  display: flex;
}

.THIRD-SECTION-FIRST-PANEL-IMAGE {
  height: 70vh;
  width: 55vw;
}

.THIRD-SECTION-FIRST-PANEL-CONTENT-WRAPPER {
  display: flex;
  flex-direction: column;
  position: relative;
}

.THIRD-SECTION-FIRST-PANEL-NUMBER-WRAPPER {
  height: 60vh;
  width: 45vw;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.THIRD-SECTION-FIRST-PANEL-NUMBER {
  color: #ffffff;
  font-size: 220px;
  display: block;
  width: fit-content;
  height: fit-content;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  margin-top: -2vh;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.3);
}
.THIRD-SECTION-FIRST-PANEL-BUTTON-WRAPPER {
  width: 60vw;
  height: 10vh;
  display: flex;
  align-items: center;
}
.THIRD-SECTION-FIRST-PANEL-BUTTON {
  background-color: #f7dc5f;
  height: 6vh;
  width: 12vw;
  font-family: "Libre Baskerville";
  font-style: normal;
  letter-spacing: 0.2rem;
  margin-left: 5vw;
}

.THIRD-SECTION-FIRST-PANEL-ABSOLUTE-CONTENT-WRAPPER {
  width: 35vw;
  height: fit-content;
  position: absolute;
  top: 18vh;
  right: 37vw;
}

.THIRD-SECTION-FIRST-PANEL-ABSOLUTE-CONTENT-TITLE {
  display: block;
  margin-top: 0%;
  width: 35vw;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: #ffffff;
}

.THIRD-SECTION-FIRST-PANEL-ABSOLUTE-CONTENT-MESSAGE {
  display: block;
  margin-left: 8vw;
  width: 30vw;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;

  color: #ffffff;
}
/* THIRD SECTION PANEL 01 - RESPONSIVE */
@media (max-width: 1180px) {
  .THIRD-SECTION-ABSOLUTE-TITLE {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    top: -20vh;
  }
  .THIRD-SECTION-FIRST-PANEL {
    margin-top: 5vh;
  }
  .THIRD-SECTION-FIRST-PANEL-NUMBER-WRAPPER {
    width: 50vw;
  }

  .THIRD-SECTION-FIRST-PANEL-NUMBER {
    font-size: 150px;
    margin-top: -3vh;
  }
  .THIRD-SECTION-FIRST-PANEL-BUTTON-WRAPPER {
    width: 60vw;
    height: 10vh;
    display: flex;
    align-items: center;
  }
  .THIRD-SECTION-FIRST-PANEL-BUTTON {
    background-color: #f7dc5f;
    height: 6vh;
    width: 12vw;
    font-family: "Libre Baskerville";
    font-style: normal;
    letter-spacing: 0.2rem;
    margin-left: 5vw;
  }

  .THIRD-SECTION-FIRST-PANEL-ABSOLUTE-CONTENT-WRAPPER {
    top: 10vh;
  }

  .THIRD-SECTION-FIRST-PANEL-ABSOLUTE-CONTENT-TITLE {
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
  }

  .THIRD-SECTION-FIRST-PANEL-ABSOLUTE-CONTENT-MESSAGE {
    margin-left: 8vw;
    width: 44vw;
  }
  .THIRD-SECTION-FIRST-PANEL-BUTTON {
    height: 8vh;
    width: 16vw;
    margin-left: 5vw;
  }
}
@media (max-width: 970px) {
  .THIRD-SECTION-ABSOLUTE-TITLE {
    font-size: 30px;
    line-height: 40px;
    top: -18vh;
  }
  .THIRD-SECTION-FIRST-PANEL {
    margin-top: 0vh;
  }
  .THIRD-SECTION-FIRST-PANEL-NUMBER {
    font-size: 150px;
    margin-top: -3vh;
  }
  .THIRD-SECTION-FIRST-PANEL-ABSOLUTE-CONTENT-TITLE {
    font-weight: 800;
    font-size: 25px;
    line-height: 40px;
  }
  .THIRD-SECTION-FIRST-PANEL-ABSOLUTE-CONTENT-MESSAGE {
    margin-left: 6vw;
    font-size: 14px;
    width: 50vw;
  }
  .THIRD-SECTION-FIRST-PANEL-BUTTON {
    height: 6vh;
    width: 30vw;
    margin-left: 5vw;
  }
}
@media (max-width: 725px) {
  .THIRD-SECTION-ABSOLUTE-TITLE {
    font-size: 20px;
    line-height: 40px;
    top: -16vh;
  }
  .THIRD-SECTION-FIRST-PANEL-NUMBER {
    font-size: 130px;
  }
  .THIRD-SECTION-FIRST-PANEL-ABSOLUTE-CONTENT-TITLE {
    font-weight: 800;
    font-size: 18px;
    line-height: 40px;
  }
  .THIRD-SECTION-FIRST-PANEL-ABSOLUTE-CONTENT-MESSAGE {
    margin-left: 0vw;
    font-size: 12px;
    width: 55vw;
  }
  .THIRD-SECTION-FIRST-PANEL-BUTTON {
    height: 8vh;
    width: 24vw;
    margin-left: 3vw;
  }
}

@media (max-width: 450px) {
  .THIRD-SECTION-ABSOLUTE-TITLE {
    font-size: 18px;
    line-height: 40px;
    top: -14vh;
    width: 60vw;
  }
  .THIRD-SECTION-FIRST-PANEL-IMAGE {
    height: 50vh;
    width: 55vw;
  }
  .THIRD-SECTION-FIRST-PANEL-NUMBER {
    font-size: 100px;
  }
  .THIRD-SECTION-FIRST-PANEL-ABSOLUTE-CONTENT-WRAPPER {
    top: 8vh;
    right: 50vw;
  }
  .THIRD-SECTION-FIRST-PANEL-ABSOLUTE-CONTENT-TITLE {
    font-weight: 800;
    font-size: 16px;
    width: 50vw;
    line-height: 20px;
  }
  .THIRD-SECTION-FIRST-PANEL-ABSOLUTE-CONTENT-MESSAGE {
    margin-left: 5vw;
    font-size: 8px;
    line-height: 20px;
    width: 65vw;
  }
  .THIRD-SECTION-FIRST-PANEL-BUTTON {
    height: 6vh;
    width: 30vw;
    margin-left: 3vw;
    margin-top: -35vh;
  }
}
/* THIRD SECTION PANEL 02 */
.THIRD-SECTION-SECOND-PANEL {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 8vh;
}
.THIRD-SECTION-SECOND-PANEL-IMAGE-WRAPPER {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.THIRD-SECTION-SECOND-PANEL-IMAGE-01 {
  position: absolute;
  height: 50vh;
  width: 35vw;
  z-index: 2;
  top: 10vh;
  box-shadow: inset -308px 4px 63px 7px rgba(0, 0, 0, 0.35);
  filter: drop-shadow(12px 18px 23px rgba(0, 0, 0, 0.35));
}
.THIRD-SECTION-SECOND-PANEL-IMAGE-02 {
  position: absolute;
  z-index: 1;
  top: 28vh;
  left: 9vw;
  width: 40vw;
  height: 70vh;
}

.THIRD-SECTION-SECOND-PANEL-CONTENT-WRAPPER {
  display: flex;
  flex-direction: column;
  position: relative;
}
.THIRD-SECTION-SECOND-PANEL-NUMBER-WRAPPER {
  height: 100vh;
  width: 60vw;
  display: flex;
}

.THIRD-SECTION-SECOND-PANEL-NUMBER {
  font-size: 220px;
  display: block;
  width: fit-content;
  height: fit-content;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  margin-top: 5vh;
  margin-left: 32vw;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.3);
}

.THIRD-SECTION-SECOND-PANEL-BUTTON-WRAPPER {
  width: 60vw;
  height: 30vh;
  margin-top: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.THIRD-SECTION-SECOND-PANEL-BUTTON {
  background-color: #f7dc5f;
  height: 8vh;
  width: 15vw;
  font-family: "Libre Baskerville";
  font-style: normal;
  letter-spacing: 0.2rem;
  margin-left: 5vw;
}

.THIRD-SECTION-SECOND-PANEL-ABSOLUTE-CONTENT-WRAPPER {
  position: absolute;
  top: 18vh;
  left: 12vw;
}
.THIRD-SECTION-SECOND-PANEL-ABSOLUTE-CONTENT-TITLE {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 77px;
  display: flex;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 7px 4px 5px rgba(0, 0, 0, 0.65);
  display: block;
  text-align: center;
}
.THIRD-SECTION-SECOND-PANEL-ABSOLUTE-CONTENT-MESSAGE {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 37px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #ffffff;

  display: block;
  width: 30vw;
}
/* THIRD SECTION PANEL 02 - RESPONSIVE */
@media (max-width: 970px) {
  .THIRD-SECTION-SECOND-PANEL {
    margin-top: 0;
    height: 90vh;
  }
  .THIRD-SECTION-SECOND-PANEL-IMAGE-01 {
    height: 35vh;
    width: 40vw;
    top: 10vh;
  }
  .THIRD-SECTION-SECOND-PANEL-IMAGE-02 {
    top: 32vh;
    left: 12vw;
    width: 40vw;
    height: 35vh;
  }
  .THIRD-SECTION-SECOND-PANEL-NUMBER {
    font-size: 140px;
    margin-top: 5vh;
    margin-left: 40vw;
  }
  .THIRD-SECTION-SECOND-PANEL-ABSOLUTE-CONTENT-WRAPPER {
    top: 12vh;
    left: 10vw;
  }
  .THIRD-SECTION-SECOND-PANEL-ABSOLUTE-CONTENT-TITLE {
    font-size: 28px;
    line-height: 35px;
  }
  .THIRD-SECTION-SECOND-PANEL-ABSOLUTE-CONTENT-MESSAGE {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    width: 45vw;
    margin-left: 3vw;
  }
  .THIRD-SECTION-SECOND-PANEL-BUTTON-WRAPPER {
    margin-top: -50vh;
  }
  .THIRD-SECTION-SECOND-PANEL-BUTTON {
    height: 6vh;
    width: 30vw;
  }
}
@media (max-width: 725px) {
  .THIRD-SECTION-SECOND-PANEL-NUMBER {
    margin-left: 30vw;
  }
  .THIRD-SECTION-SECOND-PANEL-ABSOLUTE-CONTENT-WRAPPER {
    top: 20vh;
    left: 10vw;
  }
  .THIRD-SECTION-SECOND-PANEL-ABSOLUTE-CONTENT-TITLE {
    font-size: 24px;
    line-height: 35px;
  }
  .THIRD-SECTION-SECOND-PANEL-ABSOLUTE-CONTENT-MESSAGE {
    font-size: 12px;
    line-height: 24px;
  }
  .THIRD-SECTION-SECOND-PANEL-BUTTON-WRAPPER {
    margin-top: -40vh;
  }
}
@media (max-width: 450px) {
  .THIRD-SECTION-SECOND-PANEL {
    margin-top: 0;
    height: 80vh;
  }
  .THIRD-SECTION-SECOND-PANEL-IMAGE-01 {
    height: 25vh;
    width: 40vw;
    top: 10vh;
  }
  .THIRD-SECTION-SECOND-PANEL-IMAGE-02 {
    top: 28vh;
    left: 9vw;
    width: 40vw;
    height: 25vh;
  }
  .THIRD-SECTION-SECOND-PANEL-NUMBER {
    font-size: 100px;
    margin-top: 5vh;
    margin-left: 20vw;
    color: rgba(255, 255, 255, 0.3);
  }
  .THIRD-SECTION-SECOND-PANEL-ABSOLUTE-CONTENT-WRAPPER {
    position: absolute;
    top: 16vh;
    left: 12vw;
  }
  .THIRD-SECTION-SECOND-PANEL-ABSOLUTE-CONTENT-TITLE {
    font-weight: 800;
    font-size: 18px;
    line-height: 35px;
  }
  .THIRD-SECTION-SECOND-PANEL-ABSOLUTE-CONTENT-MESSAGE {
    font-weight: 700;
    font-size: 9px;
    line-height: 25px;
    width: 45vw;
  }
  .THIRD-SECTION-SECOND-PANEL-BUTTON-WRAPPER {
    margin-top: -50vh;
  }
  .THIRD-SECTION-SECOND-PANEL-BUTTON {
    background-color: #f7dc5f;
    height: 6vh;
    width: 30vw;
  }
}
/* THIRD SECTION PANEL 03 */
.THIRD-SECTION-THIRD-PANEL {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.THIRD-SECTION-THIRD-PANEL-IMAGE-WRAPPER {
  width: 70vw;
  height: 100vh;
}
.THIRD-SECTION-THIRD-PANEL-IMAGE {
  height: 70vh;
  width: 60vw;
}
.THIRD-SECTION-THIRD-PANEL-CONTENT-WRAPPER {
  display: flex;
  flex-direction: column;
  position: relative;
}
.THIRD-SECTION-THIRDD-PANEL-NUMBER-WRAPPER {
  height: 70vh;
  display: flex;
  justify-content: center;
}
.THIRD-SECTION-THIRD-PANEL-NUMBER {
  font-size: 220px;
  display: block;
  width: fit-content;
  height: fit-content;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.3);
}
.THIRD-SECTION-THIRD-PANEL-BUTTON-WRAPPER {
  margin-top: 55vh;
  margin-left: -10vw;
  display: flex;
}
.THIRD-SECTION-THIRD-PANEL-BUTTON {
  background-color: #f7dc5f;
  height: 8vh;
  width: 15vw;
  font-family: "Libre Baskerville";
  font-style: normal;
  letter-spacing: 0.2rem;
}
.THIRD-SECTION-THIRD-PANEL-ABSOLUTE-CONTENT-WRAPPER {
  position: absolute;
  top: 12vh;
  left: -22vw;
}
.THIRD-SECTION-THIRD-PANEL-ABSOLUTE-CONTENT-TITLE {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 70px;
  display: flex;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 7px 4px 5px rgba(0, 0, 0, 0.65);
  display: block;
  width: 30vw;
  text-align: right;
}
.THIRD-SECTION-THIRD-PANEL-ABSOLUTE-CONTENT-MESSAGE {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 37px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  display: block;
  width: 30vw;
}
/* THIRD SECTION PANEL 03 - RESPONSIVE */
@media (max-width: 970px) {
  .THIRD-SECTION-THIRD-PANEL {
    height: 70vh;
  }
  .THIRD-SECTION-THIRD-PANEL-IMAGE-WRAPPER {
    width: 50vw;
  }
  .THIRD-SECTION-THIRD-PANEL-IMAGE {
    height: 50vh;
    width: 50vw;
  }
  .THIRD-SECTION-THIRDD-PANEL-NUMBER-WRAPPER {
    height: 18vh;
    display: flex;
    margin-left: 15vw;
    justify-content: center;
  }
  .THIRD-SECTION-THIRD-PANEL-NUMBER {
    font-size: 140px;
  }
  .THIRD-SECTION-THIRD-PANEL-BUTTON-WRAPPER {
    margin-top: 60vh;
    margin-left: -10vw;
  }
  .THIRD-SECTION-THIRD-PANEL-BUTTON {
    background-color: #f7dc5f;
    height: 6vh;
    width: 24vw;
  }
  .THIRD-SECTION-THIRD-PANEL-ABSOLUTE-CONTENT-WRAPPER {
    top: 6vh;
    left: -16vw;
  }
  .THIRD-SECTION-THIRD-PANEL-ABSOLUTE-CONTENT-TITLE {
    font-size: 32px;
    line-height: 50px;
    width: 40vw;
  }
  .THIRD-SECTION-THIRD-PANEL-ABSOLUTE-CONTENT-MESSAGE {
    font-size: 16px;
    line-height: 37px;
    width: 55vw;
  }
}
@media (max-width: 725px) {
  .THIRD-SECTION-THIRD-PANEL-IMAGE-WRAPPER {
    width: 70vw;
  }
  .THIRD-SECTION-THIRD-PANEL-IMAGE {
    width: 70vw;
    height: 70vh;
  }
  .THIRD-SECTION-THIRDD-PANEL-NUMBER-WRAPPER {
    height: 18vh;
    display: flex;
    margin-left: 5vw;
    justify-content: center;
  }
  .THIRD-SECTION-THIRD-PANEL-BUTTON-WRAPPER {
    margin-top: 60vh;
    margin-left: -10vw;
  }
  .THIRD-SECTION-THIRD-PANEL-BUTTON {
    height: 6vh;
    width: 24vw;
  }
  .THIRD-SECTION-THIRD-PANEL-ABSOLUTE-CONTENT-WRAPPER {
    top: 8vh;
    left: -26vw;
  }
  .THIRD-SECTION-THIRD-PANEL-ABSOLUTE-CONTENT-TITLE {
    font-size: 24px;
    line-height: 30px;
    width: 40vw;
  }
  .THIRD-SECTION-THIRD-PANEL-ABSOLUTE-CONTENT-MESSAGE {
    font-size: 12px;
    line-height: 30px;
    width: 40vw;
    margin-left: 10vw;
  }
}
@media (max-width: 450px) {
  .THIRD-SECTION-THIRD-PANEL {
    height: 60vh;
  }
  .THIRD-SECTION-THIRD-PANEL-IMAGE-WRAPPER {
    width: 50vw;
    height: 100vh;
  }
  .THIRD-SECTION-THIRD-PANEL-IMAGE {
    height: 40vh;
    width: 60vw;
  }
  .THIRD-SECTION-THIRDD-PANEL-NUMBER-WRAPPER {
    height: 12vh;
    margin-left: 18vw;
  }
  .THIRD-SECTION-THIRD-PANEL-NUMBER {
    font-size: 100px;
  }
  .THIRD-SECTION-THIRD-PANEL-BUTTON-WRAPPER {
    margin-top: 40vh;
    margin-left: 8vw;
    display: flex;
  }
  .THIRD-SECTION-THIRD-PANEL-BUTTON {
    height: 6vh;
    width: 30vw;
  }
  .THIRD-SECTION-THIRD-PANEL-ABSOLUTE-CONTENT-WRAPPER {
    top: 5vh;
    left: -30vw;
  }
  .THIRD-SECTION-THIRD-PANEL-ABSOLUTE-CONTENT-TITLE {
    font-weight: 800;
    font-size: 20px;
    line-height: 33px;
    width: 60vw;
  }
  .THIRD-SECTION-THIRD-PANEL-ABSOLUTE-CONTENT-MESSAGE {
    font-size: 12px;
    line-height: 22px;
    width: 60vw;
    margin-left: 18vw;
  }
}
/* THIRD SECTION PANEL 04 */
.THIRD-SECTION-FOURTH-PANEL {
  margin-top: 15vh;
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.THIRD-SECTION-FOURTH-PANEL-IMAGE {
  width: 65vw;
  height: 100vh;
  padding-left: 10vw;
}

.THIRD-SECTION-FOURTH-PANEL-CONTENT-WRAPPER {
  position: relative;
}
.THIRD-SECTION-FOURTH-PANEL-NUMBER-WRAPPER {
  height: 70vh;
  display: flex;
  margin-left: 3vw;
}
.THIRD-SECTION-FOURTH-PANEL-NUMBER {
  font-size: 220px;
  display: block;
  width: fit-content;
  height: fit-content;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.3);
}
.THIRD-SECTION-FOURTH-PANEL-BUTTON-WRAPPER {
  display: flex;
  margin-top: 0vh;
}
.THIRD-SECTION-FOURTH-PANEL-BUTTON {
  background-color: #f7dc5f;
  height: 8vh;
  width: 15vw;
  font-family: "Libre Baskerville";
  font-style: normal;
  letter-spacing: 0.2rem;
  margin-left: -15vw;
}

.THIRD-SECTION-FOURTH-PANEL-ABSOLUTE-CONTENT-WRAPPER {
  position: absolute;
  top: 12vh;
  left: -33vw;
}

.THIRD-SECTION-FOURTH-PANEL-ABSOLUTE-CONTENT-TITLE {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 70px;
  display: flex;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 7px 4px 5px rgba(0, 0, 0, 0.65);
  display: block;
  text-align: right;
  width: 40vw;
}

.THIRD-SECTION-FOURTH-PANEL-ABSOLUTE-CONTENT-MESSAGE {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 37px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  display: block;
  margin-left: 9vw;
  width: 32vw;
  text-align: left;
}
/* THIRD SECTION PANEL 04 - RESPONSIVE */
@media (max-width: 970px) {
  .THIRD-SECTION-FOURTH-PANEL {
    height: 60vh;
  }
  .THIRD-SECTION-FOURTH-PANEL-IMAGE {
    width: 70vw;
    height: 60vh;
    padding-left: 5vw;
  }
  .THIRD-SECTION-FOURTH-PANEL-NUMBER-WRAPPER {
    height: 20vh;
    margin-left: 3vw;
  }
  .THIRD-SECTION-FOURTH-PANEL-NUMBER {
    font-size: 140px;
  }
  .THIRD-SECTION-FOURTH-PANEL-BUTTON-WRAPPER {
    display: flex;
    margin-top: 0vh;
  }
  .THIRD-SECTION-FOURTH-PANEL-BUTTON {
    height: 6vh;
    width: 24vw;
    margin-top: 28vh;
  }
  .THIRD-SECTION-FOURTH-PANEL-ABSOLUTE-CONTENT-WRAPPER {
    top: 8vh;
    left: -28vw;
  }

  .THIRD-SECTION-FOURTH-PANEL-ABSOLUTE-CONTENT-TITLE {
    font-size: 24px;
    line-height: 33px;
    width: 40vw;
  }

  .THIRD-SECTION-FOURTH-PANEL-ABSOLUTE-CONTENT-MESSAGE {
    font-size: 14px;
    line-height: 30px;
    width: 45vw;
    margin-left: 3vw;
  }
}
@media (max-width: 450px) {
  .THIRD-SECTION-FOURTH-PANEL {
    height: 40vh;
  }

  .THIRD-SECTION-FOURTH-PANEL-IMAGE {
    width: 60vw;
    height: 40vh;
    padding-left: 10vw;
  }
  .THIRD-SECTION-FOURTH-PANEL-NUMBER-WRAPPER {
    height: 12vh;
    margin-left: 0vw;
  }
  .THIRD-SECTION-FOURTH-PANEL-NUMBER {
    font-size: 100px;
  }
  .THIRD-SECTION-FOURTH-PANEL-BUTTON {
    height: 6vh;
    width: 30vw;
    margin-left: -15vw;
    margin-top: 25vh;
  }
  .THIRD-SECTION-FOURTH-PANEL-ABSOLUTE-CONTENT-WRAPPER {
    top: 12vh;
    left: -42vw;
  }
  .THIRD-SECTION-FOURTH-PANEL-ABSOLUTE-CONTENT-TITLE {
    font-size: 20px;
    line-height: 28px;
    width: 70vw;
  }
  .THIRD-SECTION-FOURTH-PANEL-ABSOLUTE-CONTENT-MESSAGE {
    font-size: 10px;
    line-height: 25px;
    letter-spacing: 0.1em;
    margin-left: 14vw;
    width: 55vw;
  }
}
/* ************** */
/* FOURTH SECTION */
/* ************** */
.FOURTH-SECTION {
  display: flex;
  flex-direction: column;
  background-color: black;
}
.FOURTH-SECTION-TOP-HALF {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/BACKGROUND-03.png");
  background-size: 100vw 100vh;
  display: flex;
  align-items: center;
}

.FOURTH-SECTION-TOP-HALF-TITLE {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 80px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;

  background: linear-gradient(
    90.15deg,
    #ffffff 20%,
    #02a5c7 46.57%,
    #01a2c3 70.62%,
    #b7010d 120%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  display: block;
  height: fit-content;
  margin-left: 4vw;
  margin-top: -3vh;
  text-shadow: 7px 4px 5px rgba(0, 0, 0, 0.1);
}

.FOURTH-SECTION-BOTTOM-HALF {
  height: 90vh;
  width: 100vw;
  background-image: url("./assets/BACKGROUND-04.png");
  background-size: 100vw 75vh;
  transform: scaleX(-1);
  position: relative;
  display: flex;
  align-items: center;
}

.FOURTH-SECTION-BOTTOM-HALF-FAQ {
  width: 75vw;
  height: 70vh;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  transform: scaleX(-1);
}

.FOURTH-SECTION-BOTTOM-HALF-FAQ-TITLE {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 800;
  font-size: 85px;
  line-height: 106%;
  align-items: center;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 0;
}

.FOURTH-SECTION-BOTTOM-HALF-FAQ-QUESTION-WRAPPER {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid white;
  height: 15vh;
  width: 90%;
}

.FOURTH-SECTION-BOTTOM-HALF-FAQ-QUESTION {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 76px;
  display: flex;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
}

.FOURTH-SECTION-BOTTOM-HALF-FAQ-BUTTON {
  color: #ffffff;
  border: 2px solid white;
  border-radius: 50%;
  width: 2.5vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.FOURTH-SECTION-BOTTOM-HALF-ABSOLUTE-WORKS-WRAPPER {
  position: absolute;
  top: -20vh;

  width: 100vw;
  height: 30vh;
  transform: scaleX(-1);
  display: flex;
  justify-content: space-evenly;
}

.FOURTH-SECTION-BOTTOM-HALF-ABSOLUTE-WORK {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FOURTH-SECTION-BOTTOM-HALF-ABSOLUTE-WORK-IMAGE {
  height: 24vh;
  width: 18vw;
}

.FOURTH-SECTION-BOTTOM-HALF-ABSOLUTE-WORK-TITLE {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 96px;
  display: flex;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: #ffffff;
}
/* FOURTH SECTION - RESPONSIVE */
@media (max-width: 970px) {
  .FOURTH-SECTION-BOTTOM-HALF-FAQ {
    width: 90vw;
  }
  .FOURTH-SECTION-BOTTOM-HALF-FAQ-TITLE {
    font-size: 75px;
  }

  .FOURTH-SECTION-BOTTOM-HALF-FAQ-QUESTION-WRAPPER {
    height: 15vh;
    width: 95%;
  }

  .FOURTH-SECTION-BOTTOM-HALF-FAQ-QUESTION {
    font-size: 40px;
    line-height: 76px;
  }

  .FOURTH-SECTION-BOTTOM-HALF-FAQ-BUTTON {
    width: 5vw;
    height: 5vh;
    font-size: 24px;
  }
}
@media (max-width: 555px) {
  .FOURTH-SECTION-TOP-HALF-TITLE {
    font-size: 40px;
    margin-left: 5vw;
    margin-top: -3vh;
  }
  .FOURTH-SECTION-BOTTOM-HALF-ABSOLUTE-WORKS-WRAPPER {
    top: -25vh;
    width: 100vw;
    justify-content: space-evenly;
  }

  .FOURTH-SECTION-BOTTOM-HALF-ABSOLUTE-WORK-TITLE {
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  .FOURTH-SECTION-TOP-HALF-TITLE {
    font-size: 30px;
    margin-left: 0vw;
    margin-top: -3vh;
  }

  .FOURTH-SECTION-BOTTOM-HALF-FAQ {
    width: 90vw;
    height: 65vh;
    margin-top: 10vh;
  }

  .FOURTH-SECTION-BOTTOM-HALF-FAQ-TITLE {
    font-weight: 800;
    font-size: 55px;
    line-height: 106%;
  }

  .FOURTH-SECTION-BOTTOM-HALF-FAQ-QUESTION-WRAPPER {
    height: 14vh;
    width: 95%;
  }

  .FOURTH-SECTION-BOTTOM-HALF-FAQ-QUESTION {
    font-size: 30px;
    line-height: 76px;
  }

  .FOURTH-SECTION-BOTTOM-HALF-FAQ-BUTTON {
    width: 6.5vw;
    height: 4.5vh;
    font-size: 24px;
  }
  .FOURTH-SECTION-BOTTOM-HALF-ABSOLUTE-WORKS-WRAPPER {
    top: -25vh;
    width: 100vw;
    justify-content: space-evenly;
  }

  .FOURTH-SECTION-BOTTOM-HALF-ABSOLUTE-WORK-IMAGE {
    margin-top: 2vh;
    height: 16vh;
    width: 20vw;
  }

  .FOURTH-SECTION-BOTTOM-HALF-ABSOLUTE-WORK-TITLE {
    font-size: 24px;
  }
}
