body {
 width: 100vw;
 background-color: #0D1115;
 margin: 0%;
}

.INGAPIRCACONTRACTINGNAVBAR{
    width: 100%;
    height: 27vh;
    background-color: #0D1115;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    position: fixed;
    z-index: 1;
}
.INGAPIRCACONTRACTINGLOGOIMG{
    width: 30vw;
    height: 45vh;
    margin-top: -9vh;
}
.INGAPIRCACONTRACTINGNAVLIST{
    margin-top: -10vh;
    display: flex;
    width: 100vw;
    height: 50vh;
    justify-content: space-evenly;
}

.INGAPIRCACONTRACTINGLISTITEM{
    width: 30vw;
    height: 5vh;
    border: 2px solid black;
    background-color: #0d1526;
    text-align: center;
    justify-items: center;
    line-height: 5vh;
    color: aliceblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    font-weight: 100;
    font-size: medium;
    letter-spacing: .3rem;
}
.INGAPIRCACONTRACTINGHEROCONTAINER{
    height: 100vh;
    width: 100vw;
}
.INGAPIRCACONTRACTINGHEROIMAGE{
height: 100vh;
width: 100vw;
z-index: 1;
}
.INGAPIRCACONTRACTINGCALLTOACTION{
margin-top: -50vh;
text-align: center;

}
.INGAPIRCACONTRACTINGCALLTOACTIONTEXT{
    color: white;
    font-size: 3.3rem;
    letter-spacing: .3rem;
    font-weight: 100;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 5px 0 5px;
    margin-bottom: 9vh;
}
.INGAPIRCACONTRACTINGCALLTOACTIONBUTTON{
    background-color: #0D1115;
    font-size: xx-large;
    padding: 1rem;
    margin-top: 10vh;
    color: white;
    font-weight: 100;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    text-shadow: black 5px 0 5px;

}

.GALLERYSLIDERS{
 width: 100vw;
 /* border: 4rem solid #0D1115; */
}

.sliderimage{
    height: 80vh;
    border: 2rem solid #0D1115;
}

.COPYWRITEBOXES{
 padding-top: 33vh;
 display: flex;
 flex-direction: row;

 
justify-content: space-evenly;
height: 123vh;
width: 100vw;
padding-bottom: 10vh;
background-color: #0D1115;
}

.SOCIALMEDIACONTAINER{
    height: 30vh;
    width: 100vw;
    background-color:  #1a284c;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.SOCIALMEDIAICONS{
    height: 15vh;
    width: 12vw;
    background-color: white;
    border: .2rem solid black;
    border-radius: .5rem;
    padding: .1rem;
}

@media screen and (max-width: 900px) {

    .COPYWRITEBOXES{
        flex-direction: column;
        height: 225vh;
    }
    .INGAPIRCACONTRACTINGNAVBAR{
        height: 23vh;
    }
    .INGAPIRCACONTRACTINGLOGOIMG{
        width: 100vw;
        height: 40vh;
        margin-top: -9vh;
    }
    .INGAPIRCACONTRACTINGNAVLIST{
        margin-top: -8.5vh;
    }
    .SOCIALMEDIAICONS{
        height: 12vh;
        width: 21vw;
    }
    .COPYWRITEBOXES{
        height: max-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}